@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */

body {
  background-color: #FFFCFA;
}

.no-scroll {
  overflow: hidden;
}

/* Define initial styles for navbar */
.navbar-default {
  position: absolute;
  inset: 0;
}

/* Define styles when navbar scrolls */
.navbar-scroll {
  position: fixed;
  top: -100px; /* Adjust this value as needed */
  animation: slideDown 0.5s ease forwards; /* Animation for smooth transition */
}

/* Keyframes for slideDown animation */
@keyframes slideDown {
  from {
    top: -100px; /* Adjust this value to the initial position off the screen */
  }
  to {
    top: 0; /* Adjust this value to where you want the navbar to stick */
  }
}

.hero-container {
  margin-top: 77px;
  height: calc(100vh - 77px);
}

@keyframes cardBounce {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-25px);
  }
  75% {
    transform: translateX(5px)
  }
  100% {
    transform: translateX(0);
  }
}

/* Media query for lg devices */
@media screen and (max-width: 1023px) {
  .in-view {
    animation: cardBounce 1.2s;
    animation-delay: 0.8s;
  }
}

/* Media query for SM devices */
@media screen and (max-width: 640px) {
  .hero-container {
    height: -moz-fit-content;
    height: fit-content;
    margin-top: 117px;
  }
}